<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head> <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1> <div>

        </div>'here is the about page.' <br />
        <strong>This tutorial has been put together by Mohammed Alsenani</strong><br /> </div>
        <div>
            <a href="/rango/about/">About</a><br />
            L1-0 <img src="/static/images/screenshot.jpg" alt="Picture of Rango" />
            L1-0 <img src="/media/crying.jpg" alt="Picture of crying cat" />
            <a href="{% url 'index' %}">Go back to the index page</a>
        </div> </body>
</html>